# Web
MONGODB_URI=
NEXTAUTH_SECRET=
NEXTAUTH_URL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
EMAIL_SERVER_HOST=
EMAIL_SERVER_PORT=
EMAIL_SERVER_USER=
EMAIL_SERVER_PASSWORD=
EMAIL_FROM=
GROQ_API_KEY=
GROQ_MODEL=
ENGINE_GATEWAY_URL=

# Engine Gateway
GATEWAY_PORT=4000
ML_SERVICE_URL=
RETRIEVER_URL=
# ML Service
ML_PORT=5000
ADMIN_KEY=

# Retriever
RETRIEVER_PORT=6000
